@font-face {
    font-family: Verdana;
    src: url('../fonts/verdana-font-family/Verdana.ttf') format("opentype");
    font-weight: normal;
} 

@font-face {
    font-family: Verdana;
    src: url('../fonts/verdana-font-family/Verdana-bold.ttf') format("opentype");
    font-weight: bold;
}